<h1>Pictures#index</h1>
<p>Find me in app/views/pictures/index.html.erb</p>


<ul>
<% @pictures.each do |p| %>

<li><img id="" src="<%= p.picture_url %>" width="200"></li>
<li> <%= link_to(p.caption, picture_path(p)) %></li>
<BR>
<BR>
<% end %>
</ul>
