<h1>Pictures#show</h1>
<p>Find me in app/views/pictures/show.html.erb</p>

<ul>
<li><img id="" src="<%= @pictures.picture_url %>" width="200"></li>
<li><%= @pictures.caption %></li>
<BR>
<BR>
<li>City: <%= @pictures.city %></li>
<li>Country: <%= @pictures.country %></li>

</ul>

<BR>
<BR>