
 body{
    background-image: url("https://www.hawaiimagazine.com/sites/default/files/field/image/kauai-tor-hta.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top; 
    background-size: cover;
}

#my_card{
    background-color: rgba(255,255,255,0.65);
    border-radius: 15px 50px;

}

.thumbnail img{
    border-radius: 15px 50px 15px 15px;
}


span{ margin: 0px 30px;
    font-size: 20pt;
    float: left;
}

.picture_caption_div p{
    margin: 7px 10px;
    float: left;
}

.pictures_show_comments_div{
    clear:both;
    padding: 20px 50px;
    word-wrap: normal;

}

.pictures_show_comments_div ul{

  
    word-wrap: normal;

}