
 body{   
    background-image: url("");
    /*https://www.hawaiimagazine.com/sites/default/files/field/image/kauai-tor-hta.jpg  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top; 
    background-size: cover;
}

/* ======== BEGIN NAV BAR ======  */

#nav_left{
    float: left;
    border: 0px red solid;
}

#nav_right{
    float: right;
    border: 0px blue solid;
}

#nav_right_right{
    margin-left: 15px;
    margin-bottom:0px;
}

#nav_right img{
    width:35px;
    float:right;
}

.img_snapslogo_icon{
    width:45px;
}

/* ======== END NAV BAR ======  */



/* ======== BEGIN PICTURES/INDEX ======  */

#my_card{
    background-color: rgba(255,255,255,0.65);
    border-radius: 15px 50px;
    

}

.thumbnail{  padding:0px 5px;  }

.thumbnail img{
    border-radius: 15px 50px 15px 15px;
    border:2px solid white;
    margin:3px;
}

.caption{ margin-left:15px;  }

#caption_title{

}

.snapLinkOne{ 
    display:inline-table;
    margin-top: 50px;
    background-color: rgba(255,255,255,0.65);
    padding: 0px 20px;
    border-radius: 5px;
    display: block;
    width:135px;
}

.snapLinkTwo{ 
    display:inline-table;
    margin-top: 50px;
    background-color: rgba(255,255,255,0.65);
    padding:20px;
    border-radius: 10px;
}


/* ======== END PICTURES/INDEX ======  */



/* ======== BEGIN PICTURES/SHOW ======  */

.picture_caption_div p{
    margin: 15px 10px 5px 10px;
    padding:0 0 7px 0 ;
    float: left;
    border: 0px blue solid;
}

.pictures_show_div{
        margin-top: 15px;
}

#pictures_show_pic{
    border-radius: 15px 50px 15px 15px;

}

#show_snapped_by{
                
}

span{ margin: 0px 30px;
    font-size: 20pt;
    float: left;
}

#small_profile_pic{ width:50px; float:left; margin-top:15px; 
    border-radius: 100px 100px; }
#caption_title_show{    margin-top: 10px; }
#show_span_links{    margin-top: 50px; }

#show_span_links a{
    margin-right: 10px;
    
}


.pictures_show_comments_div{
    clear:both;
    padding: 20px 50px;
    border-radius: 10px 10px 10px 50px;
    word-wrap: normal;
    
}

.pictures_show_comments_div ul{

  
    word-wrap: normal;

}

/* ======== END PICTURES/SHOW ======  */


/* ======== BEGIN USERS/SHOW ======  */

#user_show_namecard{
    margin-bottom: 15px;
}

#my_user_card{
    background-color: rgba(255,255,255,0.65);
    border-radius: 15px 50px;

    margin-top:15px;
    padding: 15px 25px 15px 25px;
    text-align: center;
}

#my_user_card img{ 
    border-radius: 100px 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#my_user_card a{
    margin-left:25px;
}

#user_show_pic_div p{
   margin-left: 50px;
}

.col-sm-9{

    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px red solid;
    
}

#caption_title_user{
    font-size: 20pt;
}

#little_comments{
    margin-top: 35px;
}
#little_links{ margin-left: 25px;}
#little_links a {   
                    float:left;
                    padding:0px;   
                    margin-left: 25px;      
                }


/* ======== END USERS/SHOW ======  */

/* ======== BEGIN USERS/EDIT ======  */

#user_edit_card{
    background-color: rgba(255,255,255,0.65);
    border-radius: 15px 50px;

    padding: 15px 25px 15px 25px;
    
    margin-top:25px;
}
#user_edit_card h1{  text-align: center;}
#user_form_div{
  width:50%;
    margin-left: auto;
    margin-right: auto;
    border:0px solid red;
}
.form-group{ border:0px solid green; }

.img_return_icon {
    width:45px;
}

/* ======== END USERS/EDIT ======  */



/* ======== BEGIN PICTURES/EDIT ======  */

    .quick_center{  
        margin-left: auto;
        margin-right: auto;
    }

/* ======== END PICTURES/EDIT ======  */



/* ======== NEW PICTURES/NEW ======  */
#mod_div{
        margin-left: 25px;
       

}

/* ======== END PICTURES/NEW ======  */



/* ======== BEGIN SHOW/NEW ======  */

.quick_push_left{  
    margin-left: 100px;
    
}


/* ======== END SHOW/NEW ======  */


/* ======== BEGIN USERS/NEW ======  */




/* ======== END USERS/NEW ======  */

.footnote{

    text-align: center;
    color: lightgrey;

}
